body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blog-card{
  float:left;
  width:393px;
  height: 400px;
  background-color: ghostwhite;
  color: #000080;
  margin:15px;
  text-align: center;
}

#blog-title {
  font-weight: bold;
  font-size: 1.5em;
}

#blog-link {
  color: rgb(0, 1, 10);
}

#new-blog-form {
  float: center;
  width: auto;
  height: auto;
  background-color:ghostwhite;
  color: black;
  margin:15px;
  text-align: left;
}

footer {
  text-align: center;
  padding: 3px;
  color: black;
  position: fixed; 
  bottom: 0; 
}